<div class="container">
    <h1 style="padding-top: 10px; padding-bottom: 10px;">Create Account</h1>



<div class="users new">
    <h2>Sign Up</h2>

    <%= form_for(@user) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= f.submit("Create User") %>
    </div>

    <% end %>

