<div class="container">

  <div class="row">
    <div class="col-lg-3">
      <p> <%= link_to "HIGHEST RATED EVENT", highest_rated_events_path %></p>
    </div>
    <div class="col-lg-3">
      <p><%= link_to "PAST EVENTS", past_events_events_path %></p>
    </div>
    <div class="col-lg-3">
      <p><%= link_to "ALL EVENTS", all_events_events_path %></p>
    </div>
    <div class="col-lg-3">
      <p><%= link_to "TOP EVENTS", top_events_events_path %></p>
    </div>
  </div>

  <div class="links">

    <br><br>