

  <%= render 'top_link' %>

  <br><br>


  <h2 align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;">LIST OF ALL EVENTS</h2>
  <br />
 
  <%= render 'events_cards' %>
  
  <br />
  <br />

   </div>
   </div>

  <br/>
  <br/>
  <br/>