<div class="container">
  <h2 class="display-4" align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;">Edit Event</h2>

    <%= render partial:'form', locals: {event: @event} %>

</div>