<body id="event_index">
  <%= render 'top_link' %>

      <br><br>


      <h2  align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;">LIST OF HIGHEST RATED EVENTS</h2>
        <br />

        <% unless @events.blank? %>
        <h5 align="center"
          style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;">THE HIGHEST RATED EVENT IS <%=@events.first.name.upcase %></h5>
        <% end %>

        <br/>
         <%= render 'events_cards' %>
      
    </div>
  </div>
</body>