<div class="container">
  <h4 class="display-4" align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;">CREATE A NEW EVENT</h4>

    <%= render partial:'form', locals: {user: @user, event: @event} %>

</div>